cffi
numpy
pillow
pip
setuptools
typing_extensions
requests
keras
colorama
PyYAML
llvmlite
numba
scipy
charset-normalizer
pyinstaller
pooch
packaging
tqdm
platformdirs
regex
threadpoolctl
matplotlib
decorator
tensorflow
filelock
urllib3
fsspec
joblib
python-dateutil
certifi
imageio
imageio-ffmpeg
soundfile
audioread
soxr
lazy_loader
msgpack
scikit-learn
moviepy
proglog
python-dotenv
mutagen
six
idna
contourpy
fonttools
pycparser
pyparsing
cycler
kiwisolver
tokenizers
safetensors
transformers
huggingface-hub
librosa
tf_keras
pydub
GitPython
gitdb
attrs
protobuf
tornado
Jinja2
pytz
rich
Pygments
markdown-it-py
toml
smmap
mdurl
altair
jsonschema
narwhals
pandas
pyarrow
referencing
click
lz4
MarkupSafe
pydeck
tzdata
tenacity
watchdog
streamlit
cachetools
blinker
jsonschema-specifications
pydantic
wheel
astunparse
tensorboard
optree
opt_einsum
hub
ml-dtypes
h5py