absl-py
altair
altgraph
annotated-types
astunparse
attrs
audioread
blinker
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
customtkinter
cx_Freeze
cx_Logging
cycler
darkdetect
decorator
deeplake
dill
docutils
filelock
filetype
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
hub
huggingface-hub
humbug
idna
imageio
imageio-ffmpeg
jax
jaxlib
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
keras
Kivy
Kivy-Garden
kivymd
kiwisolver
lazy_loader
libclang
librosa
lief
llvmlite
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
moviepy
mpmath
msgpack
multiprocess
mutagen
namex
narwhals
networkx
numba
numpy
oauthlib
opt_einsum
optree
packaging
pandas
pathos
pefile
pillow
platformdirs
plyer
pooch
pox
ppft
proglog
protobuf
py-splash
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pydub
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pypandoc
pyparsing
pypiwin32
PyQt5
PyQt5-Qt5
PyQt5-stubs
PyQt5_sip
python-dateutil
python-dotenv
pytz
pywin32-ctypes==0.2.3
PyYAML
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
s3transfer
safetensors
scikit-learn
scipy
six
smmap
soundfile
soxr
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tf-keras
threadpoolctl
tokenizers
toml
tomli
torch
tornado
tqdm
transformers
typing_extensions
tzdata
urllib3
watchdog
Werkzeug
wrapt
