cffi
numpy
pillow
pip
setuptools
typing_extensions
requests
keras
colorama
PyYAML
llvmlite
numba
scipy
charset-normalizer
pyinstaller
pooch
packaging
tqdm
platformdirs
regex
threadpoolctl
matplotlib
decorator
tensorflow
filelock
urllib3
fsspec
joblib
python-dateutil
certifi
imageio
imageio-ffmpeg
soundfile
audioread
soxr
lazy_loader
msgpack
scikit-learn
moviepy
proglog
python-dotenv
mutagen
six
idna
contourpy
fonttools
pycparser
pyparsing
cycler
kiwisolver
tokenizers
safetensors
transformers
huggingface-hub
librosa
tf_keras
pydub